@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100,200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 100px;
}

.banner {
  position: relative;
  min-height: 100vh;
  background-color: #f8c249;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h2 {
  font-size: 3em;
  color: #111;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}

.banner h3 {
  font-size: 1.5em;
  color: #111;
  font-weight: 500;
}

.btn {
  position: relative;
  display: inline-block;
  color: #111;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  border: 2px solid #111;
  border-radius: 10px;
  background-color: #e7a924;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #111;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
  color: #111;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

header.sticky .logo {
  color: #f8c249;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #111;
  text-decoration: none;
}

header.sticky ul li a {
  color: #f8c249;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #f8c249;
}

.heading h2 {
  font-weight: 600;
  font-size: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentBx {
  padding-right: 30px;
}

.contentBx h3 {
  font-size: 24px;
  color: #f8c249;
  margin-bottom: 20px;
}

.about {
  background: #111;
}

.w50 {
  min-width: 50%;
  color: #f8c249;
}

.w50 img {
  max-width: 50%;
  border-radius: 100%;
  display: block;
  margin: auto;
}

img {
  max-width: 100%;
}

.services {
  background: #f8c249;
}

.heading.white {
  color: #111;
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.services .content .servicesBx {
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}

.services .content .servicesBx:hover {
  background: #2196f3;
}

.services .content .servicesBx img {
  max-width: 80px;
  filter: invert(1);
}

.services .content .servicesBx h2 {
  font-size: 20px;
  font-weight: 600;
}

.work {
  background: #f8c249;
}

.work .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work .content .workBx {
  width: 50%;
  padding: 20px;
}

.work .content .workBx img {
  max-width: 100%;
  box-shadow: 10px 10px 5px rgba(12, 11, 11, 0.5);
}

.contact {
  background: #111;
}

.contact .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contactInfoBx {
  padding: 40px 20px;
  background: #222;
  color: #fff;
  width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}

.contactInfoBx .icon {
  min-width: 40px;
  padding-top: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.contactInfoBx p {
  padding-top: 20px;
}

.contactInfoBx:hover {
  background: rgba(248, 194, 73, 0.7);
}
