@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 100px;
}

.banner {
  position: relative;
  min-height: 100vh;
  background-color: #f8c249;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h2 {
  font-size: 3em;
  color: #111;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}

.banner h3 {
  font-size: 1.5em;
  color: #111;
  font-weight: 500;
}

.btn {
  position: relative;
  display: inline-block;
  color: #111;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  border: 2px solid #111;
  border-radius: 10px;
  background-color: #e7a924;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #111;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
  color: #111;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

header.sticky .logo {
  color: #f8c249;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #111;
  text-decoration: none;
}

header.sticky ul li a {
  color: #f8c249;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #f8c249;
}

.title h2 {
  font-weight: 600;
  font-size: 40px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentBox {
  padding-right: 30px;
}

.contentBox h3 {
  font-size: 24px;
  color: #f8c249;
  margin-bottom: 20px;
}

.contentBox p {
  font-size: 18px;
}

.about {
  background: #111;
}

.w50 {
  min-width: 50%;
  color: #f8c249;
}

.w50 img {
  max-width: 50%;
  border-radius: 100%;
  display: block;
  margin: auto;
}

img {
  max-width: 100%;
}

.title.black {
  color: #111;
}

.portfolio {
  background: #f8c249;
}

.portfolio .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio .content .portfolioBox {
  width: 50%;
  padding: 20px;
}

.portfolio .content .portfolioBox img {
  max-width: 100%;
  box-shadow: 10px 10px 5px rgba(12, 11, 11, 0.5);
}

.contact {
  background: #111;
}

.contact .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contactInfoBox {
  padding: 40px 20px;
  background: #222;
  width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}

.contactInfoBox .icon {
  min-width: 40px;
  padding-top: 4px;
  color: #f8c249;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  text-decoration: none;
}

.contactInfoBox p {
  padding-top: 20px;
  font-size: 20px;
  color: #f8c249;
}
